{% extends "base1.html" %}
{% block bredcrumb %}
<li>
    <a href="{% url "cuestionarios" %}">Cuestionarios</a>
</li>
<li class="active">
    Contestar
</li>
{% endblock %}

{% block titulo %}
<h1>Contestar cuestionario</h1>
{% endblock %}

{% block contenido %}

    <form method="POST">
    <div id="wizard" class="swMain">
        <ul class="anchor">
            {% for a in areas %}
                <li>
                    <a href="#step-1" {% if a.id == area|add:"0" %}class="selected"{% endif %} isdone="{{ a.id }}" rel="{{ a.id }}">
                        <div class="stepNumber">
                            {{ forloop.counter }}
                        </div>
                        <span class="stepDesc"> Area {{ forloop.counter }}
                            <br>
                            <small>{{ a }}</small> </span>
                    </a>
                </li>
            {% endfor %}
        </ul>

    <div class="progress progress-striped active progress-sm content">
        <div aria-valuemax="100" aria-valuemin="0" role="progressbar" class="progress-bar progress-bar-success step-bar" style="width: {{ porcentaje }}%;">
            <span class="sr-only"> {{ porcentaje }}% Completado</span>
        </div>
    </div>

    {% csrf_token %}
    <table class="table table-hover">
    <thead>
        <tr>
            <th>Pregunta</th>
            <th>Respuesta</th>
        </tr>
    </thead>
    <tbody>
    {% for pregunta in preguntas %}
    <tr>
        <td>{{ pregunta }}</td>
        <td><select name="{{ pregunta.id }}">
            <option value="0" selected> ------------------------------- </option>
            <option value="1" >Nunca</option>
            <option value="2">Rara Vez</option>
            <option value="3">Alguna Vez</option>
            <option value="4">Usualmente</option>
            <option value="5">Siempre</option>
        </select></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <input class="btn btn-blue btn-block" value="Enviar" type="submit" />
    </div>
    </form>
{% endblock %}