{% extends "base1.html" %}

{% block titulo %}
    <h2>BIENVENIDO AL SISTEMA PARA LA EVALUACIÓN DE LA RUTA ÓPTIMA PARA LA IMPLEMENTACIÓN DE MEJORA DE PROCESOS</h2>
{% endblock %}
{% block bredcrumb %}{% endblock %}
{% block contenido %}

<p>El objetivo principal de esta herramienta es la identificación de las caracteristicas y necesidades de las Micro y PyMEs con la finalidad de presentar una ruta óptima a la mejora de procesos.</p>
<p>El menú de la derecha muestra un link hacia cuestionario, donde les permite agregar cuestionario, con la finalidad de extraer el entorno real de la empresa y así ofrecer la ruta más óptima hacia la mejora de procesos dependiendo de sus características y necesidades, una vez terminado el cuestionario permite visualizar los resultados obtenidos.</p>
{% endblock %}