{% extends "login.html" %}

{% block contenido %}
<!-- start: FORGOT BOX -->
			<div class="box-forgot" >
				<h3>¿Has olvidado tu contraseña?</h3>
				<p>
					Introduzca su dirección de correo electrónico a continuación para restablecer la contraseña.
				</p>
				<form class="form-forgot" action="" method="POST">
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                        <div class="errorHandler alert alert-danger">{{ error }}</div>
                    {% endfor %}
					<div class="errorHandler alert alert-danger no-display">
						<i class="fa fa-remove-sign"></i> Ocurrieron algunos errores.
					</div>
					<fieldset>
						<div class="form-group">
							<span class="input-icon">
								<input type="email" class="form-control" name="email" placeholder="Email">
								<i class="fa fa-envelope"></i> </span>
						</div>
						<div class="form-actions">
							<a href="/accounts/signin/" class="btn btn-light-grey go-back">
								<i class="fa fa-circle-arrow-left"></i> Regresar
							</a>
							<button type="submit" class="btn btn-bricky pull-right">
								Reset <i class="fa fa-arrow-circle-right"></i>
							</button>
						</div>
					</fieldset>
				</form>
			</div>
<!-- end: FORGOT BOX -->
{% endblock %}
