{% extends "login.html" %}

{% block contenido %}
			<!-- start: LOGIN BOX -->
			<div class="box-login">
				<h3>Inicie sesión en su cuenta</h3>
				<p>
					Por favor, introduzca su nombre y contraseña para acceder.
				</p>
				<form class="form-login" method="POST" action="">
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                        <div class="errorHandler alert alert-danger">{{ error }}</div>
                    {% endfor %}
					<div class="errorHandler alert alert-danger no-display">
						<i class="fa fa-remove-sign"></i> Se encontraron algunos errores.
					</div>

					<fieldset>
						<div class="form-group">
							<span class="input-icon">
								<input type="text" id="id_identification" class="form-control" name="identification" placeholder="Nombre de Usuario o Correo">
								{% for error in form.identification.errors %}
                                    <span for="username" class="text-danger">{{ error }}</span>
                                {% endfor %}
                                <i class="fa fa-user"></i> </span>
						</div>
						<div class="form-group form-actions">
							<span class="input-icon">
								<input type="password" id="id_password" class="form-control password" name="password" placeholder="Contraseña">
								{% for error in form.password.errors %}
                                    <span for="username" class="text-danger">{{ error }}</span>
                                {% endfor %}
                                <i class="fa fa-lock"></i>
								<a class="forgot" href="/accounts/password/reset/">
									¿Olvidaste tu contraseña?
								</a> </span>
						</div>
						<div class="form-actions">
							<label for="remember" class="checkbox-inline">
								<input type="checkbox" class="grey remember" id="id_remember_me" name="remember_me">
								Recuérdame por un mes
							</label>
							<button type="submit" class="btn btn-bricky pull-right">
								Acceder <i class="fa fa-arrow-circle-right"></i>
							</button>
						</div>
						<div class="new-account">
							¿No tienes una cuenta todavía?
							<a href="/accounts/signup/" class="register">
								Crear una cuenta
							</a>
						</div>
					</fieldset>
				</form>
			</div>
			<!-- end: LOGIN BOX -->
{% endblock %}